:root{
  --background: #2B1718;
  --highlight: #CD3E36;
  --accent: #EAE1CF;
  --hover: #FDA800;
  }

body{
 	width: 100%;
 	height: auto;
 	background-color: var(--background);
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
  	margin: 0;
}

.nav{
  	position: absolute;
  	width: 100%;
  	height: 10%;
	min-height: 100px;
  	background-color: var(--background);
	display: flex;
}

.logo {
	display: inline-block;
	position: relative;
	padding-top: 1%;
	text-align: left;
	left: 0;
	width: 50%;
}
.logo img {
	width: 50%;
	height: auto;
	padding-left: 2%;
}

.menu{
	position: absolute;
	right: 1%;
  	text-align: right;
  	color: var(--accent);
	align-self: flex-end;
	width: 50%;
	color: #888;
	padding-bottom: .5%;

}

.menu .link{
  text-decoration: none;
  color: var(--accent);
}

.link:hover{
  	color: var(--accent);
    border-bottom: 1px solid var(--hover);
}

.user {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 1%;
	width: auto;
	text-align: right;
}

.user img {
	height: 10%;
		display: inline-block;

}
.user p {
	color: var(--accent);
	font-size: 1.2em;
	width: 100%;
	padding: 0;
	margin: 0;
}

.user a {
	color: var(--accent);
	text-decoration: none;
}

.user a:hover {
	color: var(--hover);
}

.user .dropdown {
	display: none;
	padding: 0;
	margin: 0;
}
.user:hover {
	z-index: 100;
	background-color: var(--hover);
}
.user ul {
  	list-style-type: none;
	visibility: hidden;
}
.user:hover ul {
	visibility: visible;
	display:block;
}

.user:hover li:hover {
	background-color: var(--accent);

}

.content {
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
}

.content p {
	padding: 0% 5% 0% 5%;
}
.grid {
  	display: inline-block;
  	width: 85%;
  	height: auto;
	margin-bottom: 2%;
  	background-color: var(--accent);
	padding-bottom: 2%;
}

.box {
	display: inline-block;
	background-color: azure;
	width: 30%;
	text-align: center;
	border-radius: 5px;
	margin: 1%;
}

.box p {
	display: inline-block;
	padding: 50px;
	vertical-align: middle;
}
