:root{
  	--background: #2B1718;
  	--highlight: #CD3E36;
  	--accent: #EAE1CF;
  	--hover: #FDA800;
	--logo: #CA4036;
  }

body {
 	width: 100%;
 	height: auto;
 	background-color: #f7f7f7;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
  	margin: 0;
}

footer {
	height: 5%;
	width: 100%;
	background-color: var(--background);
	color: var(--accent);
	text-align: center;
	padding-top: .5%;
}
#topbar {
	background-color: #F1f1f1;
	display: block;
	position: relative;
	min-height: 3%;
	text-align: right;
	vertical-align: middle;
    line-height: 30px;
}
#topbar strong {
	color: var(--background);
	font-size: .8em;
	padding-right: 8.5%;
}
#topbar strong:hover {
	color: var(--background);
	text-decoration: underline;
	cursor: pointer;
}

#main {
	text-align: center;
	background-color: #F7F7F7;
	padding-bottom: 2%;
}
#main p {
	padding: 0% 5% 0% 5%;
}

#content {
  	width: 85%;
	display: inline-block;
  	height: auto;
	margin: 0;
	background-color: #f7f7f7;
}
#content h1 {
	color: var(--background);
	text-align: left;
	font-size: 2em;
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
}
#content h4 {
	color: var(--logo);
	text-align: left;
	font-size: 1.2em;
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
	display: inline;
	text-align: left !important;
}

#content i {
	border: solid var(--logo);
  	border-width: 0 4px 4px 0;
  	display: inline-block;
  	padding: 4px;
}
#content .title {
	color: var(--background);
	font-size: 2.5em;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	text-align: center !important;
}
#content .arrow {
  	-webkit-transform: rotate(135deg);
}

.underline{
	border-bottom: thin solid var(--accent);
	width: auto;
	display: block;
	margin-left: 1%;
}

.show-dropdown {
	overflow: hidden;
	height: auto;
	width: auto;
}
.show-dropdown select {
   	background-color: #f7f7f7;
	border:solid thin #EAE1CF;
   	font-size: 15px;
	font-weight: 550;
  	height: auto;
   	padding: 5px;
   	width: auto;
	color: var(--background);
	border-radius: 5px;
}

.nav {
  	position: sticky;
  	width: 100%;
  	height: 10%;
	min-height: 100px;
  	background-color: var(--background);
	display: flex;
	top: 0;
	z-index:1;
}
.logo {
	display: inline-block;
	position: relative;
	padding-top: 1%;
	text-align: left;
	left: 6%;
	width: 50%;
}
.logo img {
	width: 50%;
	min-width: 200px;
	height: auto;
	padding-left: 2%;
}
.menu{
	position: absolute;
	right: 8.5%;
  	text-align: right;
  	color: var(--accent);
	align-self: flex-end;
	width: 50%;
	color: #888;
	padding-bottom: .5%;
}
.menu .link{
  text-decoration: none;
  color: var(--accent);
}
.link:hover{
  	color: var(--accent);
    border-bottom: 1px solid var(--hover);
}

.user {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 8%;
	width: auto;
	text-align: right;
}
.user img {
	height: 10%;
		display: inline-block;

}
.user p {
	color: var(--accent);
	font-size: 1.2em;
	width: 100%;
	padding: 0;
	margin: 0;
}
.user a {
	color: var(--accent);
	text-decoration: none;
}
.user a:hover {
	color: var(--logo);
	text-decoration: none;
}
.user .dropdown {
	display: none;
	padding: 0;
	margin: 0;
}
.user:hover {
	z-index: 100;
	background-color: var(--logo);
}
.user ul {
  	list-style-type: none;
	visibility: hidden;
}
.user:hover ul {
	visibility: visible;
	display:block;
}
.user:hover li:hover {
	background-color: var(--accent);
}
 
.grid {
	height: auto;
	background-color: #f7f7f7;
}

.row {
	width: 100%;
	background-color: #f7f7f7;
}

.col {
	padding: 2%;
	margin: .5% .2% .5% .2%;
	box-shadow: 1px 1px 2px #999;
	background-color: #fff;
	overflow: auto;
	text-align: center;
}

.col-md {
	background-color: #fff;
	overflow: auto;
	text-align: left;	
}

.col-lg {
	background-color: #fff;
	overflow: auto;
	text-align: center;
}
.col-lg a {
	font-size: 1.1em;
	font-weight: 500;
	color: #111;
	text-align: center;
}
.col-lg img {
	width: 180px;
	height: 200px;
	box-shadow: 1px 1px 2px #999;
}
.col-lg div {
	width: 200px;
	height: 200px;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	display: inline-block;
}

.grid .img {
	padding-bottom: 10%;
	padding-left: 10%;
	background-color: #fff;
}
.left {
	text-align: left !important;
	display: inline;
}
.right {
	text-align: right !important;
}
.circle {
	position: relative;
	background-color:#257633;
	color: var(--accent);
	width: 250px;
  	height: 250px;
  	border-radius: 50%;
	margin: 1%;
	padding-top: 80px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 1.2em;
}
.circle .header {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	
}
.textbox {
	border: none;
	padding: 2%;
	margin: 1%;
	font: 1.2em;
	max-height: 40%;
	overflow: scroll;
	text-align: left;
	
}
.textbox::-webkit-scrollbar {
	width: .8em;
	height: 0;
}
.textbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(43,23,24,0.2);
}
.textbox::-webkit-scrollbar-thumb {
  background-color: var(--logo);
}
.textbox h2 {
	color: var(--background);
	text-align: left;
	font-size: 1.5em;
	font-family: 'Work Sans', sans-serif;
	margin-bottom: 0;
}
.textbox h3 {
	color: #777;
	margin-top: 0;
	text-align: left;
	font-size: .9em;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}
.textbox p {
	color: #111;
	padding-left: 0 !important;
	text-align: left;
	font-size: .9em;
	font-family: 'Open Sans', sans-serif;
}
.textbox  a {
	color: #CA4036;
}
.textbox  a:hover {
	color: #CA4036;
	font-weight: bold;
	text-decoration: none;
}

.carousel {
  	display: flex;
  	overflow-x: auto;
}
.carousel img {
	width: 250px;
	height: auto;
	transition: all .2s ease-in-out;
	box-shadow: 2px 2px 2px #999;
}
.carousel img:hover {
	width: 270px;
	height: auto;
	transform: scale(1);
}
.carousel div {
	padding: .5%;
	width: 290px;
	height: 290px;
}
.carousel::-webkit-scrollbar {
	height: .8em;
}
.carousel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(43,23,24,0.2);
}
.carousel::-webkit-scrollbar-thumb {
  background-color: var(--logo);
}

.trending {
	display: inline;
	padding: 1%;
}
.trending:hover {
	background-color: #FD0000;
}

.popular {
	display: inline;
	padding: 1%;
}
.popular:hover {
	background-color: #FD0000;
}

.newest {
	display: inline;
	padding: 1%;
}
.newest:hover {
	background-color: #FD0000;
}

#trending-container {
	display: block;
}

#popular-container {
	display: none;
}

#newest-container {
	display: none;
}