:root{
  --background: #CD3E36;
  --highlight: #2B1718;
  --accent: #EAE1CF;
  --hover: #FDA800;
}

body{
 	width: 100%;
 	height: auto;
  background-color: var(--highlight);
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.main{
  display: inline-block;
  width: 100%;
  margin: 0;
}

.nav{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50%;
  height: 100%;
  float: left;
}


#fill{
  color: var(--accent);
  font-family: 'Times';
  font-weight: bold;
  font-size: 400%;
  text-align: left;
  margin-left: 5%;
}

.features{
  color: var(--accent);
  font-weight: bold;
  font-size: 150%;
  text-align: left;
  margin-left: 5%;
  padding-top: 5%;
  padding-left: 10%;
}

.features p {
	vertical-align: middle;
}

.features img {
	vertical-align: middle;
	width: 5%;
	height: auto;
	padding-right: 5px;
}

.logo{
	margin-top: 5%;
	margin-left: 5%;
	text-align: left;
}


.loginForm{
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: 100%;
  background: var(--background);
}

.loginForm span{
  color: var(--accent);
}

.form{
  display: block;
  margin-top: 20%;
	text-align: left;
	border-radius: 10px;
  padding: 10%;
}

.text{
  display: inline-block;
  margin: 5px;
  font-size: 150%;

}

.input{
  width: 60%;
  height: 5%;
	text-align: left;
	padding: 10px;
  color: var(--background);
}

.btn{
  background-color: var(--highlight);
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
  margin: 5% 0% 0% 0%;
  font-size: 125%;
  text-align: center;
  border: none;
	padding: 10px;
}

.btn:hover{
  background: var(--accent);
  color: var(--highlight);
}

.text{
  color: var(--accent);
}

.external{
  margin-top: -10%;
  padding-left: 10%;
}

.link{
  text-decoration: none;
  background: var(--background);
  color: var(--highlight);
  padding-left: 1%;
  padding-right: 1%;
  font-size: 125%;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid var(--accent);
	padding: 1px;
	font-weight: bold;
}

.link:hover{
  color: var(--accent);
  border-bottom: 1px solid var(--highlight);
}

img {
	width: 50%;
	height: auto;
}
