:root{
  	--background: #F2F2F2;
  	--accent: #EAE1CF;
  	--hover: #FDA800;
	--logo: #CA4036	;
  }

body {
	min-width: 100%;
	background-color: white;
	font-family: 'Rubik', sans-serif;
}

body, html {
	background: white;

}

.logo {
	width: 50vw;
	height: 30vh;
	padding: 5%;
}
.logo img {
	width: 50%;
	min-width: 400px;
}
.container {
	color: black;
	min-width: 100vw;
	min-height: 100vh;
	text-align: left;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
	
}
.col-lg {
	width: 50%;
	height: 100vh;
	padding: 0 !important;
}

.logo-color {
	background-color: var(--logo);
}

.features {
	color: #222;
	width: 100%;
	height: 45vh;
	font-size: 2em;
	text-align: left;
	font-weight: bold;
	padding-left: 10%;
}
.features img {
	width: 50px;
	height: auto;
	padding-right: 5px;
	vertical-align: middle;
}

.form {
	height: 35vh;
	width: 100%;
	padding: 10%;
	display: block;
	text-align: left;
	border-radius: 10px;
}

.text {
	margin: 5px;
	font-size: 150%;
	display: inline-block;
}

.form {
	color: #f4f4f4;
	height: 45vh;
	padding-top: 40px !important;

}
.input {
	width: 70%;
	color: #000;
	padding: 10px;
	min-height: 10%;
	text-align: left;
	border-radius: 5px;
}

.btn {
	color: #FFF !important;
	padding: 5px 10px 5px 10px;
	font-size: 1.2em !important;
	font-weight: 700 !important;
	text-align: center;
	margin: 3% 0% 0% 0%;
	text-decoration: none;
	border-radius: 5px;
	background-color: var(--hover) !important;
	font-family: 'Rubik', sans-serif;
}
.btn:hover {
	cursor: pointer;
	color: var(--highlight);
  	background: var(--accent) !important;
	
}

.external {
	width: 100%;
	height: 25vh;
	font-size: 1em;
	padding-left: 10%;
	color: #f4f4f4 !important;
	padding-top: 0 !important;
}

.link {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--hover);
}

.link:hover{
	color: var(--accent);
	border-bottom: 1px solid var(--highlight);
}

span {
	color: white;
	font-size: 1.3em;
	font-family: 'Rubik', sans-serif;

}