/* CSS Document */
:root {
	--background: #F9F9F9;
	--logo: #141A3C;
	--hover: #585E82;
	--accent: #04105C;
}

html, body {
	font-size: 14px;
	width: 100% !important;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.container-fluid {
	width: 100%;
	height: 100%;
	background-color: white;
}

.container {
	width: 100% !important;
}

.logo {
	width: 350px;
	height: auto;
}
.navbar {
	height: 11%!important;
	min-height: 100px;
	font-size: 16px;
}
.home {
	text-align: left;
}

.main {
	width: 99%;
	padding: 0 0 0 50px;
	background-color: #fff;
}
.main h1 {
	font-size: 25px;
	color: var(--logo);
}


/*Start DASHBOARD ICONS*/
.icon {
	opacity: 1;
	width: 250px;
	height: 250px;
	color: #fff;
	padding-top: 50px;
	margin-top: 57px;
	text-align: center;
	border-radius: 10px;
	transition: .5s ease;
	display: inline-block;
	background-color: #88BA99;
	backface-visibility: hidden;
}
.contain {
	width: 250px;
	position: relative;
	display: inline-block;
}
.contain:hover .icon {
  opacity: 0.2;
}
.contain:hover .middle {
  opacity: 1;
}
.middle {
  top: 60%;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: .5s ease;
  transform: translate(-50%, -50%);
}
.middle a {
	text-decoration: none;
}
.middle a:hover {
	text-decoration: none;
	font-weight: 500;
}
.text {
  background-color: #36814F;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
	border-radius: 5px;
}
/*End DASHBOARD ICONS*/




/* Start DASHBOARD NOTIFICATIONS */
#notifications {
	height: 90%;
	padding-right: 10px;
}
.notif {
	width: 100%;
	border-radius: 5px;
	height: 75px;
}
.notificon {
	padding-top: 5%;
}
.notiftext {
	width: 84%;
	line-height: 25px;
	padding-left: 10px;
	display: inline-block;
}
/* End DASHBOARD NOTIFICATIONS */



/* Start SOCIAL */ 
.socialdiv {
	color: #010131;
	text-align: center;
	margin-right: 20px;
	display: inline-block;
}
.socialdiv span {
	font-size: 21px;
	font-weight: 700;
}
.socialicon {
	color: white;
	width: 200px;
	height: 200px;
	padding-top: 30px;
	text-align: center;
	border-radius: 10px;
}

#btn-download, #btn-clear {
	color: #fff;
}
#preview {
	color: black;
	font-weight: 500;
	background-color: #D4D4D4;
}
.social-form {
	max-width: 900px;
	padding: 20px 0px 10px 0px;
}
.social-form-heading{
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	font-size: 16px;
	padding-bottom: 3px;
}
.social-form label {
	margin: 0px 0px 10px 0px;
}
.social-form label > span {
	float: left;
	width: 100px;
	padding-top: 8px;
	font-weight: bold;
	padding-right: 5px;
}
.social-form input.input-field, .social-form .select-field{
	width: 60%;
}
.social-form input.input-field,
.social-form .select-field {
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 2px;
	padding: 7px;
	outline: none;
}
.social-form .input-field:focus,
.social-form .select-field:focus{
	border: 1px solid #67B1FF;
}

.btn-group {
	border-radius: 5px;
	width: 500px;
	background-color: #ECEAEA;
}
.btn-group button {
  padding: 12px 25px;
}
.btn-group a {
	color: black;
}
.btn-group a:hover {
	color: black;
	text-decoration: none;
}
.btn-group .active {
	color: white;
	background-color: #6A6A6A;
}
.btn-group .active a {
	color: white;
}
.btn-group button:hover {
  background-color: #6A6A6A;
}
.btn-group button:hover a {
	color: white;
}
/* End SOCIAL */ 



/* Start EMMA */
.banner {
	width: 100%;
	color: white;
	font-size: 35px;
	padding-left: 20px;
	background-color: #B76B8C;
	font-family: 'Playfair Display', serif;
}
/* End EMMA */




/* Start STREAMS */
.upload {
	width: 100%;
	height: 300px;
	text-align: center;
	border: thin dashed #111111;
}
input[type="file"] {
    display: none;
}
.file-upload {
	color: #fff;
    border: none;
    cursor: pointer;
	font-weight: 500;
    padding: 8px 15px;
	border-radius: 10px;
    display: inline-block;
	background-color: #006dcc;
}
.streams h1 {
	font-size: 25px;
	padding-bottom: 5px;
	padding-left: 50px;
}
.streams h2 {
	margin: 0;
	padding: 6px 0 6px 0;
	font-size: 18px;
}
.streams p {
	margin: 0;
	padding: 0 0 0 0px;
}
.streams .row {
	width: 100%;
	text-align: left;
	margin-bottom: 25px;
}
.streams .col-3 {
	width: 80%;
	height: 170px;
	border: thin solid #C5C5C5;
	border-radius: 5px;
}
.streams #thumbnail {
	padding-right: 15px;
}
.thumbnail {
	width: 177px;
	text-align: center;
	position: relative;
	
}
.centered {
	top: 50%;
	left: 50%;
	color: white;
	position: absolute;
	transform: translate(-50%, 100%);
	
  text-shadow: 3px 3px 3px #000;
}
/* End STREAMS */




/* Start SHOW RESOURCES */
.resources {
	min-width: 450px;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
}
.resource-title {
	width: 98%;
	height: auto;
	background-color: #006699;
}
.resource-title:hover {
		cursor: pointer;
}
.resources h1 {
	font-size: 1.5em;
	padding: 15px 0px 15px 15px;
	color: #F4F4F4;
}

.resource-container {
	color: #F4F4F4;
	padding: 10px 0px 10px 10px;
}
.resource-container i {
	color: #BC2225;
	padding-right: 10px;
	padding-top: 5px;
}
.resource-container a, .resource-container a:hover {
	color: black;
	font-size: 16px;
	text-decoration: none;
}
#script {
	height: auto;
	width: 98%;
	background-color: #EFEFEF;
	display: none;
}
#lighting {
	height: auto;
	width: 98%;
	background-color: #EFEFEF;
	display: none;
}
#set {
	height: auto;
	width: 98%;
	background-color: #EFEFEF;
	display: none;
}
#sound {
	height: auto;
	width: 98%;
	background-color: #EFEFEF;
	display: none;
}
/* End SHOW RESOURCES */


/* Start MY SHOWS */
.showimage {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	border-radius: 10px;
}

.search, .sort, .filter {
	padding: 2px;
	font-size: 14px;
	border: thin solid #D5D5D5;
	border-radius: 2px;
}

.filter {
	height: 25px;
	width: 25px;
}
/* End MY SHOWS */


/* Start PROGESS BARS */
.progress {
	margin-bottom: 10px;
}

.col-5 h3 {
	color: #393939;
	font-size: 20px;
}

.progress-bar {
	font-size: 15px;
}
.bartitle {
	font-size: 18px;
	color: #393939;

}
/* End PROGESS BARS */



/* Start GRAPHS */
.graphtitle {
	color: #454545;
	font-size: 19px;
}
.graphsubtitle {
	color: #7A7A7A;
	font-size: 14px;
}
/* End GRAPHS */


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

