:root{
  	--background: #F2F2F2;
  	--accent: #EAE1CF;
  	--hover: #FDA800;
	--logo: #CA4036	;
  }
html,body {
	height: 100%;
}
body {
  	margin: 0;
 	width: 100%;
	font-size: 1em;
 	background-color: var(--background);
	font-family: 'Open Sans', sans-serif;
}
.footer {
	width: auto;
	color: black;
	padding: 10px;
  	flex-shrink: 0;
	text-align: center;
	background-color: white;
}

#main {
	margin-bottom: 50px;
	background-color: var(--background);
}
.nav {
	top: 0;
	z-index: 1;
	width: 100%;
	display: flex;
  	position: sticky;
	min-height: 100px;
  	background-color: white;
}
.logo {
	left: 6%;
	width: 50%;
	padding-top: 1%;
	text-align: left;
	position: relative;
	display: inline-block;
}
.logo img {
	bottom: 0;
	width: 40%;
	height: auto;
	padding-left: 2%;
	min-width: 200px;
	position: absolute;
}
.menu {
	right: 7%;
	width: 50%;
	position: absolute;
  	text-align: right;
	align-self: flex-end;
	padding-bottom: 10px;
}
.menu .link {
	text-decoration: none;
	color: grey;
	margin-left: 4.5%;
	font-size: 1.1em;
}
.menu .link.active {
    border-bottom: 1px solid var(--logo);
  	color: black;
}
.menu .link:hover {
  	color: black;
    border-bottom: 1px solid var(--logo);
}

.content {
 	width: 85%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 50px;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
}

.dashboard {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	justify-content: space-between;
}
.dashboard .full {
	flex: 0;
	flex-grow: 1;
	background-color: white;
	box-shadow: 1px 1px 2px #888;
}
.dashboard .half {
	flex: 1;
	flex-grow: 1;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
	box-shadow: 1px 1px 2px #888;
}
.dashboard .title {
	font-size: 1.7em;
	padding: 15px 0px 0px 15px;
}

.updates {
	border: thin solid #DFDFDF;
	min-width: 450px;
	padding: 5px 5px 5px 5px;
	margin: 10px 20px 10px 20px;
}
.updates::-webkit-scrollbar {
	width: .9em;
	height: 0;
}
.updates::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(43,23,24,0.2);
}
.updates::-webkit-scrollbar-thumb {
  background-color: var(--logo);
}
.updates h2 {
	color: var(--logo);
	text-align: left;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 5px 10px 0px 10px;
	font-family: 'Work Sans', sans-serif;
}
.updates h3 {
	color: #777;
	margin-top: 0;
	text-align: left;
	font-size: .9em;
	font-weight: 400;
	padding: 5px 10px 0px 10px;
	font-family: 'Open Sans', sans-serif;
}
.updates p {
	color: #111;
	text-align: left;
	font-size: .9em;
	padding: 0px 10px 20px 10px;
	font-family: 'Open Sans', sans-serif;
}
.updates  a {
	color: #CA4036;
}
.updates  a:hover {
	color: #CA4036;
	font-weight: bold;
	text-decoration: none;
}

.revenue {
	text-align: center;
}
.revenue img {
	width: 80%;
	min-width: 450px;
}



.catalog {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	justify-content: space-between;
	box-shadow: 1px 1px 2px #888;
}
.catalog .full {
 	width: 100%;
	background-color: white;
}
.catalog .half {
	flex: 1;
	flex-grow: 2;
	background-color: white;
	padding: 25px 0px 0px 25px;
}
.catalog .title {
	font-size: 1.8em;
}




.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--background);
}
.col {
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	background-color: var(--background);
}
.third {
	flex-basis: 33%;
	text-align: center;
}

.carousel {
  	display: flex;
	flex-basis: 100%;
  	overflow-x: auto;
	padding: 10px 10px 0px 10px;
	background-color: white;
	box-shadow: 1px 1px 2px #888;

}
.carousel img {
	width: 250px;
	height: 250px;
	box-shadow: 2px 2px 2px #999;
	transition: all .2s ease-in-out;
}
.carousel img:hover {
	width: 270px;
	height: 270px;
}
.carousel div {
	width: 290px;
	height: 290px;
	background-color: white;
	padding: 15px 0px 0px 15px;

}
.carousel::-webkit-scrollbar {
	height: .9em;
}
.carousel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(43,23,24,0.2);
}
.carousel::-webkit-scrollbar-thumb {
  background-color: var(--logo);
}

.show-dropdown {
	width: auto;
	height: auto;
	margin-top: 10px;
	overflow: hidden;
}
.show-dropdown select {
	width: auto;
  	height: auto;
   	padding: 5px;
	color: black;
	font-size: 15px;
	font-weight: 550;
	border-radius: 5px;
	border: solid thin #EAE1CF;
   	background-color: var(--background);
}

.left {
	display: inline;
	text-align: left !important;
}
.right {
	text-align: right !important;
}
.center {
	text-align: center !important;
}

.shadow {
	box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.1);
}
.white {
	background-color: white;
}
.middle  {
	align-content: middle;
}
.bottom {
	padding: 10px 0px 3px 20px;
}
.border {
	height: 0.05em;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #E5E5E5;
}

.square {
	height: 300px;
	display: inline-block;
}
.square img {
	width: 250px;
	height: 250px;
}

.grid {
	width: 100%;
	display: inline;
}
.grid a {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
}
.grid a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: var(--logo);
}
.grid > div{
	padding: 10px;
	display: inline-block;
	text-align: center;
}
.grid img {
	width: 250px;
	height: 250px;
}
.grid img:hover {
	box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.5);
}

.app {
	margin: 15px;
}
.curtain > div {
	margin: 25px;
}
.curtain button {
	padding: 5px;
	width: 200px;
	color: black;
	font-size: 1.2em;
	font-weight: 500;
	transition: 0.25s;
 	background-color: white;
	font-family: 'Open Sans', sans-serif;
	border: thin solid rgba(0,0,0,0.2);
}
.curtain button:hover, .curtain button:focus {
	color: #fff;
	cursor: pointer;
	border-color: var(--logo);
	box-shadow: inset -100px 0 0 0 var(--logo), inset 100px 0 0 0 var(--logo);
}

hr {
	width: 95%;
	display: block;
	margin-top: 1em;
	border-width: 1px;
	margin-bottom: 1em;
}

#trending-container {
	display: block;
}
#popular-container {
	display: none;
}
#newest-container {
	display: none;
}

.wrapper {
	display: block;
	background-color: white;
	padding: 15px;
}
.tabs{
	padding: 0px;
	margin-top: 10px;
	font-size: 1.1em;
	list-style: none;
	background: #fff;
	position: relative;
	border-radius: 50px;
	display: inline-block;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.tabs a {
	z-index: 1;
	color: #555;
	padding: 10px 20px;
	position: relative;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.7s;
	text-transform: uppercase;
}
.tabs a.active{
	color: white;
}
.tabs .selector{
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 100%;
	position: absolute;
	border-radius: 45px;
	display: inline-block;
	background: var(--logo);
	transition-duration: 0.4s;
}

.contactForm {
	width: 80%;
	padding: 1%;
	margin-top: 2%;
	margin-left: 10%;

	border: thin solid #999;
	text-align: left;
}
.input {
	padding: 1%;
	margin: 1%;
}
#message {
	margin: 1%;
	width: 95%;
	padding: 1%;
	height: 175px;
}
.btn {
	border: none;
	color: white;
	margin-left: 45%;
	font-size: 1.1em;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	background-color: var(--logo);
}
.btn:hover {
	border: none;
	color: white;
	cursor: pointer;
	margin-left: 45%;
	font-size: 1.1em;
	border-radius: 5px;
	background-color: var(--hover);
	padding: 10px 20px 10px 20px;
}

.sort {
	padding: 5px;
}
.filter button {
	padding: 5px;
	width: 200px;
	color: black;
	line-height: 1;
	font-weight: 500;
	border: 1px solid;
	transition: 0.25s;
	background-color: white;
}
.filter {
	width: auto;
	padding: 5px;
	border: thin solid #888;
	background-color: white;
}
.filter:hover {
	width: auto;
	padding: 5px;
	cursor: pointer;
	border: thin solid #777;
	background-color: var(--background);
}
.search {
	text-align: left;
	border: thin solid #999;
	padding: 5px 10px 5px 10px;
	margin-right: 45px;
}
.search:hover {
	border: thin solid #777;
}


.label {
	display: block;
	margin-top: 5px;
	border-radius: 10px;
	font-size: 1em !important;
	padding: 5px 0px 8px 0px !important;
}

.pending {
	border: thick solid grey;
	transition: 0.4s;
}
.pending:hover {
	color: white;
	background-color: grey;
}
.approved {
	border: thick solid #347F43;
}
.denied {
	border: thick solid var(--logo);
}


.graph {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 400px;
	text-align: center;
	background-color: rgba(232,232,232,0.57);
	box-shadow: 1px 1px 2px #999;
}
.graph li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 400px;
  }
.graph span {
    margin:0 1em;
    display: block;
    background-color: #6CD878;
    animation: draw 1s ease-in-out;
}
.graph span:before{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	display: block;
	text-align: center;
	content: attr(title);
}

@keyframes draw{
  0%{height:0;}
}

.application_form{

}
