body{
  width: 100vw;
  height: auto;
  background-color: grey;
}

.loginForm{
  margin: auto;
  width: 50%;
  padding: 30px;
  font-size: 200%;
  text-align: center;
}

#logo{
  font-size: 200%;
  text-align: center;
}

.form{
  padding: 10%;
  background-color: white;
  text-align: center;
}

.text{
  display: inline-block;
  margin: 5px;
  font-size: 200%;
}

.input{
  width: 70%;
  height: 10%;
}

.btn{
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  text-decoration: none;
  color: black;
  
}
