body{
 	width: 100%;
 	height: auto;
  	background-color: grey;
  	background-image: url(image.png);
  	background-size: cover;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

.loginForm{
  	margin: auto;
  	width: 40%;
  	padding: 20px;
  	font-size: 100%;
}

p{
  	display: inline;

}
4
h2 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size: 2em;

}
.link{
  	color: black;
  	background-color: rgba(255, 255, 255, .8);
	font-family: 'Open Sans', sans-serif;

}

.nav{
  text-align: center;
  display: inline;
}

#logo{
  	margin-left: 41%;
  	margin-right: 25%;
  	font-size: 300%;
  	text-align: center;
  	color: white;
	font-family: 'Rambla', sans-serif;

}

.form{
  	padding: 10%;
  	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	border-radius: 10px;

}

.text{
  display: inline-block;
  margin: 5px;
  font-size: 150%;
}

.input{
  width: 60%;
  height: 5%;
	text-align: left;
	padding: 10px;
}

.btn{
  	font-size: 150%;
  	margin-left: 50px;
  	margin-right: 50px;
  	margin-top: 50px;
  	padding: 5px;
  	padding-left: 25px;
  	padding-right: 25px;
  	text-decoration: none;
	border-radius: 10px;
	background-color: #FFF;
}

.btn:hover {
	background-color: #7F7F7F;
	cursor: pointer;
}
