:root{
  --color: #FF9935;
}

body{
 	width: 100%;
 	height: auto;
  	background-color: var(--color);
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.main{
  display: inline-block;
  width: 100%;
  margin: 0;
}

.nav{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50%;
  height: 100%;
  float: left;
}

#logo{
  	margin-top: 5%;
  	margin-left: 5%;
  	font-size: 300%;
  	text-align: left;
  	color: white;
	font-family: 'Rambla', sans-serif;
}

#fill{
  color: white;
font-family: 'Times';
font-weight: bold;
font-size: 400%;
text-align: left;
margin-left: 5%;
}

#features{
  color: white;
font-family: 'Times';
font-weight: bold;
font-size: 150%;
text-align: left;
margin-left: 5%;
padding-top: 5%;
padding-left: 10%;

}

.loginForm{
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: 100%;
  background: black;
}

.form{
  display: block;
  margin-top: 30%;
	text-align: left;
	border-radius: 10px;
  padding: 10%;
}

.text{
  display: inline-block;
  margin: 5px;
  font-size: 150%;
}

.input{
  width: 60%;
  height: 5%;
	text-align: left;
	padding: 10px;
}

.btn{
  text-decoration: none;
  background: black;
  color: white;
  margin: 0% 0% 5% 0%;
}

.text{
  color: white;
}

.external{
  margin-top: -10%;
  padding-left: 10%;
}

.link{
  background-color: var(--color);
  color: white;
  font-weight: bold;
  padding: 1%;
  text-align: center;
}
