/* CSS Document */
:root {
	--background: #F9F9F9;
	--logo: #141A3C;
	--hover: #585E82;
	--accent: #04105C;
}

html, body {
	height: 100%;
	font-size: 14px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.container-fluid {
	height: 100%;
	background-color: var(--logo);
}
.nav-row {
	height: 11%;
}
.col-12 {
	text-align: left;
	background-color: var(--logo);
}


.logo {
	width: 350px;
	height: auto;
}

.row {
	height: 89%;
}

.nav {
	width: 10%;
	padding-top: 15px;
	padding-left: 15px;
	justify-content: center;
	background-color: var(--background);
}
.nav-dot {
	width: 130px;
    height: 130px;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	border-radius: 65px;
	text-align: center;
	text-decoration: none;
	color: var(--background);
    padding: 35px 5px 5px 5px;
    background: var(--accent);
}
.nav-dot:hover {
	width: 130px;
    height: 130px;
	font-size: 26px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	border-radius: 66px;
    background: var(--hover);
	color: var(--background);
    padding: 35px 0px 0px 0px;
}

.main {
	width: 90%;
	padding: 10px;
	background-color: #FFF;
}
.main h1 {
	color: var(--logo);
}

.banner {
	width: 100%;
	height: auto;
}

.carousel {
  	display: flex;
	flex-basis: 100%;
  	overflow-x: auto;
	background-color: white;
	padding: 10px 10px 0px 10px;
}
.carousel img {
	width: 150px;
	height: 150px;
	box-shadow: 2px 2px 2px #999;
	transition: all .2s ease-in-out;
}
.carousel img:hover {
	width: 160px;
	height: 160px;
}
.carousel div {
	width: 100%;
	height: 185px;
	background-color: white;
	padding: 15px 0px 0px 15px;
}


.donation-meter {
	width: 100px;
	margin-left: 30px;
	margin-right: 30px;
	display: inline-block;
	height: 500px;
}
.donation-meter .glass {
    width: 40px;
    padding: 5px;
    height: 300px;
    display: block;
    position: relative;
    margin: 0 35px 10px;
    background: #EBEBEB;
    border-radius: 100px 100px 0 0;
  }
.donation-meter .amount {
	width: 40px;
	bottom: 5px;
	display: block;
	position: absolute;
	background: #f34e54;
	border-radius: 100px;
}
.donation-meter strong {
	display: block;
	text-align: center;
}
.donation-meter .goal {
    font-size: 30px;
}
.donation-meter .total {
    font-size: 16px;
    position: absolute;
    right: 45px;
  }
.bulb {
	background: #f34e54;
	border-radius: 100px;
	display: block;
	height: 80px;
	margin: 0 35px 10px;
	padding: 5px;
	position: relative;
	top: -20px;
	right: 20px;
	width: 80px;
}
.bulb .filler {
	background: #f34e54;
	border-radius: 100px 100px 0 0;
	display: block;
	height: 30px;
	width: 40px;
	position: relative;
	top: -25px;
	right: -15px;
	z-index: 20;
}


.upload {
	width: 100%;
	height: 300px;
	border: thin dashed #111111;
	text-align: center;
}

#my_file {
    display: none;
}
#get_file {
    background: #222;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
	color: white;
}

.generate {
	margin: 10px auto;
	width: 300px;
	padding: 10px 20px 10px 40px;
	font: 14px;
	border: thin solid #999;
}
.generate ul {
	list-style-type:none;
}
.generate li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 5px 0 0 0;
}
.generate label {
	margin:0 0 1px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.generate input[type=text], select{
	box-sizing: border-box;
	border:1px solid #999;
	padding: 5px;
	margin: 0px;
	outline: none;	
}
.generate input[type=text]:focus,.generate select:focus{
	box-shadow: 0 0 4px #444;
	border: 1px solid #444;
}
.generate .field-divided{
	width: 49%;
}

.generate .field-long{
	width: 100%;
}
.generate .field-select{
	width: 100%;
}

.generate input[type=submit], .generate input[type=button]{
	background: #4B99AD!important;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.generate input[type=submit]:hover, .generate input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
}