/* CSS Document */
:root {
	--background: #F9F9F9;
	--logo: #141A3C;
	--hover: #585E82;
	--accent: #04105C;
}

html, body {
	height: 100%;
	font-size: 14px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.container-fluid {
	height: 100%;
	background-color: var(--logo);
}
.nav-row {
	height: 11%;
}
.col-12 {
	text-align: left;
	background-color: var(--logo);
}


.logo {
	width: 350px;
	height: auto;
	padding-top: 5px;
}

.row {
	height: 89%;
}

.col-lg-1 {
	padding-top: 15px;
	text-align: center;
	background-color: var(--background);
}

.col-lg-11 {
	padding: 10px;
	background-color: #FFF;
}
.col-lg-11 h1 {
	color: var(--logo);
}

.nav-dot {
	width: 130px;
    height: 130px;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
    background: var(--accent);
	border-radius: 65px;
	text-align: center;
	color: var(--background);
    padding: 35px 5px 5px 5px;
}
.nav-dot:hover{
	width: 130px;
    height: 130px;
	font-size: 26px;
	font-weight: bold;
	line-height: 25px;
    background: var(--hover);
	border-radius: 66px;
	text-align: center;
	color: var(--background);
    padding: 35px 0px 0px 0px;
}

.carousel {
  	display: flex;
	flex-basis: 100%;
  	overflow-x: auto;
	background-color: white;
	padding: 10px 10px 0px 10px;
}
.carousel img {
	width: 150px;
	height: 150px;
	box-shadow: 2px 2px 2px #999;
	transition: all .2s ease-in-out;
}
.carousel img:hover {
	width: 160px;
	height: 160px;
}
.carousel div {
	width: 100%;
	height: 185px;
	background-color: white;
	padding: 15px 0px 0px 15px;
}


